body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blanchedalmond;
    font-family: 'VT323', monospace;
    font-size: 2.3rem;
    color: #131a0d;
}

ul { 
    list-style: none;
    padding: 0;
}

a {
    color: #131a0d;
    text-decoration: none;
}

.container {
    width: 1024px;
    height: 576px;
    position: relative;
    display: flex;
}

.blackbox {
    position: absolute;
    width: 1024px;
    height: 576px;
    background-color: black;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.1s;
}

.hidden {
    display: none;
}

.sound-control {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.phone-navbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    margin-bottom: 0.5em;
    padding: 0 0.5em;
    border: 2px solid rgba(255, 255, 255, 0);
}

.menu-item.activated {
    border: 2px solid #131a0d;
    background-color: #131a0d;
    color: #70c572;
}

.close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close-button--experiences {
    top: -40px;
    right: 10px;
}

.close-button--diplomas {
    top: 520px;
    right: 30px;
}

.close-button--hobbies {
    top: 30px;
    right: 170px;
}

.close-button--skills{
    top: 520px;
    right: 30px;
}

.close-button--contact {
    top: 30px;
    right: -50px;
}

.close-button--portfolio {
    top: 30px;
    right: 230px;
}

.resume-content {
    display: flex;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -49%);
    font-family: 'Indie Flower', cursive;
    width: 550px;
}

.resume-content.hidden {
    display: none;
}

.resume-content_general {
    width: 45%;
    align-self: center;
    text-align: end;
}

.resume-content_general .title{
    font-size: 2rem;
}

.separator {
    width: 10%;
}

.resume-content_details {
    width: 45%;
    font-size: 1.2rem;
}

.resume-content_details--even {
    text-align: left;
}

.resume-content_details--odd {
    align-self: center;
    text-align: end;
}

.hobbies-content_hobby {
    font-family: 'Tilt Prism', cursive;;
    font-size: 5rem;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skills-content_skill {
    font-family: 'Indie Flower', cursive;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
}

.skills-content_skill ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}

.skills-content_skill ul li {
    margin: 0 2em;
}

.contact-content {
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.portfolio-selector {
    position: absolute;
    cursor: pointer;
}

.portfolio-selector:nth-child(1) {
    top: 30px;
    left: 220px
}

.portfolio-selector:nth-child(2)  {
    top: 20px;
    right: 230px
}

.portfolio-selector:nth-child(3)  {
    top: 120px;
    left: 450px
}

.portfolio-selector:nth-child(4)  {
    top: 240px;
    left: 300px
}

.portfolio-selector:nth-child(5)  {
    top: 230px;
    right: 245px
}

.portfolio-list_item {
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.continue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.continue-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}