<%- include('./partials/header.ejs') %>

    <canvas></canvas>

    <div class="continue hidden">
        <img class="continue-bubble" src="/img/snackBubble.png" alt="dialog bubble">
        <p class="continue-text">Press 'Enter' to continue...</p>
    </div>
    

    <div class="blackbox"></div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/audio.js"></script>
<script src="/js/arcadeGameCenter.js"></script>

<%- include('./partials/footer.ejs') %>