<%- include('./partials/header.ejs') %>

    <canvas></canvas>

    <main class="resume-content resume-content--page_1 hidden">
        <div class="resume-content_general">
            <h2 class="title">FULL STACK JAVASCRIPT DEVELOPER COURSE</h2>
            <p class="period">2023</p>
            <h3 class="company"></h3>O'Clock school</h3>
        </div>
        <div class="separator"></div>
        <div class="resume-content_details resume-content_details--even">
            <ul class="accomplished-tasks">
                <li class="accomplished-task">-> Linux, HTML, CSS, Git</li>
                <li class="accomplished-task">-> JavaScript, Programmation, <br>Algos</li>
                <li class="accomplished-task">-> Node.js, Client/<br>Server, Express</li>
                <li class="accomplished-task">-> OOP, SQL, UML, MCD, <br>ORM</li>
                <li class="accomplished-task">-> Archi, Agile</li>
                <li class="accomplished-task">-> API, AJAX</li>
                <li class="accomplished-task">-> Collaboration, Advanced Git, Wireframes</li>
                <li class="accomplished-task">-> AdminSys, SSH, Deploy, CMS</li>
                <li class="accomplished-task">-> React Specialisation</li>
            </ul>
        </div>
    </main>

    <div class="blackbox"></div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/audio.js"></script>
<script src="/js/cityHall.js"></script>

<%- include('./partials/footer.ejs') %>