<%- include('./partials/header.ejs') %>
    
    <nav class="phone-navbar hidden">
        <ul class="menu-items">
            <li class="menu-item ">See 'Experiences'</li>
            <li class="menu-item">See 'Diplomas'</li>
            <li class="menu-item">See 'Skills'</li>
            <li class="menu-item">See 'Portfolio'</li>
            <li class="menu-item">See 'Hobbies'</li>
            <li class="menu-item">See 'Contact'</li>
        </ul>
    </nav>
    
    <canvas></canvas>

    <main class="contact-content hidden"">
        <img class="close-button" src="/img/close.png" alt="close hobbies button">
        <h2>Nicolas Saumont</h2>
        <ul class="contact-elements-list">   
            <li class="contact-elements-item">22190 Plérin, Brittany, France</li>
            <li class="contact-elements-item">Mail : <a href="mailto:saumont.nicolas@gmail.com">saumont.nicolas@gmail.com</a></li>
            <li class="contact-elements-item">Phone : 06 79 57 95 66</li>
            <li class="contact-elements-item">Github : <a href="https://github.com/NicolasSaumont" target="_blank">NicolasSaumont</a></li>
            <li class="contact-elements-item">LinkedIn : <a href="https://www.linkedin.com/in/nicolas-saumont/" target="_blank">in/nicolas-saumont</a></li>
            <li class="contact-elements-item">Website : <a href="https://nicolassaumont.com/" target="_blank">www.nicolassaumont.com</a></li>
        </ul>
    </main>
    
    <div class="blackbox"></div>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/audio.js"></script>
<script src="/js/canvas.js"></script>

<%- include('./partials/footer.ejs') %>