<%- include('./partials/header.ejs') %>

    <canvas></canvas>

    <div class="resume-content resume-content--page_1 hidden">
        <div class="resume-content_general">
            <h2 class="title">FULL STACK JAVASCRIPT DEVELOPER COURSE</h2>
            <p class="period">2023</p>
            <h3 class="company"></h3>O'Clock school</h3>
        </div>
        <div class="separator"></div>
        <div class="resume-content_details resume-content_details--even">
            <ul class="accomplished-tasks">
                <li class="accomplished-task">-> Linux, HTML, CSS, Git</li>
                <li class="accomplished-task">-> JavaScript, Programmation, <br>Algos</li>
                <li class="accomplished-task">-> Node.js, Client/<br>Server, Express</li>
                <li class="accomplished-task">-> OOP, SQL, UML, MCD, <br>ORM</li>
                <li class="accomplished-task">-> Archi, Agile</li>
                <li class="accomplished-task">-> API, AJAX</li>
                <li class="accomplished-task">-> Collaboration, Advanced Git, Wireframes</li>
                <li class="accomplished-task">-> AdminSys, SSH, Deploy, CMS</li>
                <li class="accomplished-task">-> React Specialisation</li>
            </ul>
        </div>
    </div>

    <div class="resume-content resume-content--page_2 hidden">
        <div class="resume-content_general">
            <h2 class="title">CONSULTANT IN BUSINESS MANAGEMENT</h2>
            <p class="period">2017-2023</p>
            <h3 class="company"></h3>Ezee</h3>
        </div>
        <div class="separator"></div>
        <div class="resume-content_details resume-content_details--even">
            <ul class="accomplished-tasks">
                <a class="accomplished-task">-> <a href="https://www.accompagnerlesentrepreneurs.com/" target="_blank">Website Creator & Administrato</a>r</li>
                <li class="accomplished-task">-> Web developement (18 satisfied customers)</li>
                <li class="accomplished-task">-> Software: Facio - <br>Write Easily your Job Descriptions</li>
                <li class="accomplished-task">-> Software: Aureus - Calculation of Sales Prices</li>
                <li class="accomplished-task">-> Software: Quickly Assess the Health of your Business</li>
                <li class="accomplished-task">-> Online Courses: 'Grow your Business in a Stable and Profitable Way' & 'Ergo - Strategic Business Analysis' (56 students)</li>
                

            </ul>
        </div>
    </div>

    <div class="resume-content resume-content--page_3 hidden">
        <div class="resume-content_details resume-content_details--odd">
            <ul class="accomplished-tasks">
                
                <li class="accomplished-task">-> Book: 'How to manage your business to avoid ending up like the Titanic'</li>
                <li class="accomplished-task">-> Book: 'How to Run a Business'</li>
                <li class="accomplished-task">-> Ebook: 'The 8 Steps <br>to Conduct your Market Research'</li>
                <li class="accomplished-task">-> Wrote 29 articles about Business Management: Strategy, Marketing, Finance, Human Resources...</li>
                <li class="accomplished-task">-> Analysis Grid for a Job Interview</li>
            </ul>
        </div>
        <div class="separator"></div>
        <div class="resume-content_details resume-content_details--even">
            <ul class="accomplished-tasks">
                <li class="accomplished-task">-> Monthly Newsletter (68 readers)</li>
                <li class="accomplished-task">-> YouTube Channel (115 subscribers)</li>
            </ul>
        </div>
    </div>

    <div class="resume-content resume-content--page_4 hidden">
        <div class="resume-content_general">
            <h2 class="title">PRODUCTION COORDINATOR</h2>
            <p class="period">2014-2023</p>
            <h3 class="company"></h3>Théâtre des Tarabates</h3>
        </div>
        <div class="separator"></div>
        <div class="resume-content_details resume-content_details--even">
            <ul class="accomplished-tasks">
                <li class="accomplished-task">-> International Development of the Theatre Company (31 countries visited)</li>
                <li class="accomplished-task">-> Drafting Moral Reports</li>
                <li class="accomplished-task">-> Preparation of Financial Statements</li>
                <li class="accomplished-task">-> Follow-up of Grants Applications</li>
                <li class="accomplished-task">-> Establishment of Salaries and Employment Contracts</li>
                <li class="accomplished-task">-> <a href="https://www.tarabates.com/" target="_blank">Website Administrator</a></li>
            </ul>
        </div>
    </div>

    <div class="resume-content resume-content--page_5 hidden">
        <div class="resume-content_general">
            <h2 class="title">ADMINISTRATOR</h2>
            <p class="period">2014-2023</p>
            <h3 class="company"></h3>International Puppet Festival 'Les Marionnet'Ic'</h3>
        </div>
        <div class="separator"></div>
        <div class="resume-content_details resume-content_details--even">
            <ul class="accomplished-tasks">
                <li class="accomplished-task">-> Management of Artists, Technicians & Volunteers (50 people)</li>
                <li class="accomplished-task">-> Establishment of <br>contracts with companies <br>(20-22 companies every <br>year)</li>
                <li class="accomplished-task">-> Responsible for the Program Layout</li>
                <li class="accomplished-task">-> Drafting Moral Reports</li>
                <li class="accomplished-task">-> Preparation of Financial Statements</li>
                <li class="accomplished-task">-> Follow-up of Grants Applications</li>
            </ul>
        </div>
    </div>

    <div class="resume-content resume-content--page_6 hidden">
        <div class="resume-content_details resume-content_details--odd">
            <ul class="accomplished-tasks">
                <li class="accomplished-task">-> Establishment of <br>Salaries and <br>Employment Contracts</li>
                <li class="accomplished-task">-> <a href="https://www.tarabates.com/" target="_blank">Website Creator & Administrator</a></li>
            </ul>
        </div>
        <div class="separator"></div>
        <div class="resume-content_details resume-content_details--even">
            <ul class="accomplished-tasks">

            </ul>
        </div>
    </div>

    <div class="resume-content resume-content--page_7 hidden">
        <div class="resume-content_general">
            <h2 class="title">PUPPETEER</h2>
            <p class="period">2008-2023</p>
        </div>
        <div class="separator"></div>
        <div class="resume-content_details resume-content_details--even">
            <ul class="accomplished-tasks">
                <li class="accomplished-task">-> Creation & Co-creation <br>of Puppet Shows (14 <br>shows)</li>
                <li class="accomplished-task">-> Stage Direction</li>
                <li class="accomplished-task">-> Acting</li>
                <li class="accomplished-task">-> Handlings</li>
                <li class="accomplished-task">-> Workshops</li>
            </ul>
        </div>
    </div>

    <div class="resume-content resume-content--page_8 hidden">
        <div class="close-book">
            <img class="close-button close-button--experiences" src="/img/close.png" alt="close book button">
        </div>
        <div class="resume-content_general">
            <h2 class="title">SCHOOL TEACHER</h2>
            <p class="period">2012-2014</p>
            <h3 class="company">State Education</h3>
        </div>
        <div class="separator"></div>
        <div class="resume-content_details resume-content_details--even">
            <ul class="accomplished-tasks">
                <li class="accomplished-task">-> First Grade Student Class (28 children)</li>
                <li class="accomplished-task">-> Fourth Grade Student Class (24 children)</li>
                <li class="accomplished-task">-> Private Lessons (35 children, from first to 11th grade)</li>
            </ul>
        </div>
    </div>

    <div class="blackbox"></div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/audio.js"></script>
<script src="/js/library.js"></script>

<%- include('./partials/footer.ejs') %>