<%- include('./partials/header.ejs') %>

    <canvas></canvas>

    <div class="hobbies-content">
        <img class="close-button hidden" src="/img/close--white.png" alt="close hobbies button">
        <div class="hobbies-content_hobby hobbies-content_hobby--hockey hidden">
            <h2>Hockey</h2>
        </div>
        <div class="hobbies-content_hobby hobbies-content_hobby--retro-gaming hidden">
            <h2>Retro gaming</h2>
        </div>
        <div class="hobbies-content_hobby hobbies-content_hobby--writing hidden">
            <h2>Writing</h2>
        </div>
        <div class="hobbies-content_hobby hobbies-content_hobby--history hidden">
            <h2>History</h2>
        </div>
        <div class="hobbies-content_hobby hobbies-content_hobby--detective-novels hidden">
            <h2>Detective novels</h2>
        </div>
    </div>

    <div class="blackbox"></div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/audio.js"></script>
<script src="/js/museum.js"></script>

<%- include('./partials/footer.ejs') %>