<%- include('./partials/header.ejs') %>

    <canvas></canvas>

    <main class="hobbies-content hidden">
        <img class="close-button" src="/img/close.png" alt="close hobbies button">
        <img class="hobbies-content_hobby hobbies-content_hobby--hockey" src="" alt="roller in line hockey hobby">
        <img class="hobbies-content_hobby hobbies-content_hobby--retro-gaming" src="" alt="retro gaming hobby">
        <img class="hobbies-content_hobby hobbies-content_hobby--writing" src="" alt="writing hobby">
        <img class="hobbies-content_hobby hobbies-content_hobby--history" src="" alt="history hobby">
        <img class="hobbies-content_hobby hobbies-content_hobby--detective-novels" src="" alt="detective novels hobby">
    </main>

    <div class="blackbox"></div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/audio.js"></script>
<script src="/js/museum.js"></script>

<%- include('./partials/footer.ejs') %>