<%- include('./partials/header.ejs') %>

    <canvas></canvas>

    <div class="skills-content">
        <img class="close-button close-button--skills hidden" src="/img/close--white.png" alt="close hobbies button">
        <div class="skills-content_skill skills-content_skill--hard-skills hidden">
            <h2>Hard Skills</h2>
            <ul class="hard-skills-list">   
                <li class="hard-skills-item">React</li>
                <li class="hard-skills-item">Node.js</li>
                <li class="hard-skills-item">Express.js</li>
                <li class="hard-skills-item">Git</li>
                <li class="hard-skills-item">API</li>
                <li class="hard-skills-item">Excel</li>
                <li class="hard-skills-item">Photoshop</li>
                <li class="hard-skills-item">Premiere Pro</li>
            </ul>
        </div>
        <div class="skills-content_skill skills-content_skill--languages hidden">
            <h2>Languages</h2>
            <ul class="languages-list">   
                <li class="languages-item">HTML</li>
                <li class="languages-item">CSS</li>
                <li class="languages-item">Javascript</li>
                <li class="languages-item">SQL</li>
                <li class="languages-item">Français</li>
                <li class="languages-item">English</li>
            </ul>
        </div>
        <div class="skills-content_skill skills-content_skill--soft-skills hidden">
            <h2>Soft Skills</h2>
            <ul class="soft-skills-list">   
                <li class="soft-skills-item">Project Management</li>
                <li class="soft-skills-item">Time Management</li>
                <li class="soft-skills-item">People Management</li>
                <li class="soft-skills-item">Synthesis & Analysis</li>
                <li class="soft-skills-item">Communication & Marketing</li>
                <li class="soft-skills-item">Teaching</li>
            </ul>
        </div>
    </div>

    <div class="blackbox"></div>
    
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/audio.js"></script>
<script src="/js/school.js"></script>

<%- include('./partials/footer.ejs') %>